extends ../node_modules/jade-bootstrap/_bootstrap

head
  title = title
  result = result
  heading = heading
  path = path
block body
  +navbar(title, "dropdown_menu")
    +nav_item("/") Home
    +nav_item("/list", "active") Database
    +nav_item("/search") Search
  .container
    h1 #{title}
  .container
    .panel.panel-default(id="main-table")
      .panel-heading #{heading}
      .list-group
        each val in result
            a.list-group-item.clearfix(href="db?path=#{path}#{val}") #{val}
              if val.slice(-3) == "xml"
                span.pull-right
                  button.btn.btn-sm.btn-success.pull-right(href='/download', type='button', aria-label='Download')
                    span.glyphicon.glyphicon-download-alt()
  .container
    h2 Upload a file
    form(enctype='multipart/form-data', action='/upload/file', method='post')
      input#file(type='file')
      button.btn.btn-default(type='submit') Submit
    
          