extends ../node_modules/jade-bootstrap/_bootstrap

head
  title = title
  result = result
  heading = heading
  path = path
block body
  +navbar(title, "dropdown_menu")
    +nav_item("/") Home
    +nav_item("/db", "active") Database
    +nav_item("/search/text") Search
  .container
    h1 #{title}
  .container
    .panel.panel-default(id="main-table")
      .panel-heading #{heading}
      .list-group
        each val in result
          li.list-group-item.clearfix
            a(href="db?path=#{path}#{val}") #{val}
            if val.slice(-3) == "xml"
              a.btn.btn-sm.btn-success.pull-right(href='/download/#{val}?path=#{path}#{val}' download='#{val}', aria-label='Download')
                span.glyphicon.glyphicon-download-alt()
  .container
    h2 Upload a file
    form(enctype='multipart/form-data', action='/upload?path=#{path}', method='post')
      input#file(type='file', name='uploadedFile')
      button.btn.btn-default(type='submit') Submit