extends ../node_modules/jade-bootstrap/_bootstrap

head
  title = title
  path = path
  file = file
  name = name
block body
  -var testVar = "testName";
  script.
    function save(){
      var text = document.getElementById("text-field").value;
    }
  
  +navbar(title, "dropdown_menu")
    +nav_item("/") Home
    +nav_item("/db", "active") Database
    +nav_item("/search") Search
  .container
    .panel.panel-default
      .panel-heading.clearfix #{path}
        a.btn.btn-success.pull-right(href="/download/#{name}?path=#{path}" download="#{name}", type="button")
          span.glyphicon.glyphicon-download-alt()
      +tab-list(["Text","XML","Edit"],0)
        +tab("Text","active")
          .panel-body
            | !{file}
        +tab("XML")
          pre.panel-body
            | #{file}
        +tab("Edit")
          .panel-body
            textarea.form-control(id="text-field", rows="25") #{file}
          .panel-body
            button.btn.btn-success.pull-right(onClick='save()', type='button', aria-label='Download')
              span.glyphicon.glyphicon-floppy-disk()

